<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="main.css">

<div class="wrapper">
  <h1>Let's play a hugging game!</h1>
  <form action="/names" method="post">
      <input type="text" name="player_one" placeholder="Name Player 1">
      <input type="text" name="player_two" placeholder="Name Player 2">
      <p>
        <input type="submit" value="Start the game!" class="button">
      </p>
  </form>
</div>
